In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./titanic_train.csv")

## Задание 1

In [4]:
df[(df['Age'] < 30) | (df['Age'] > 60)].groupby(["Survived"])["PassengerId"].count()

Survived
0    245
1    161
Name: PassengerId, dtype: int64

In [5]:
df[(df['Age'] < 30)]["Survived"].mean()

0.40625

In [6]:
df[(df['Age'] > 60)]["Survived"].mean()

0.22727272727272727

In [7]:
young_survived = df[df['Age'] < 30]['Survived']
old_survived = df[df['Age'] > 60]['Survived']
a=100 * young_survived.mean()
b=100 * old_survived.mean()
print(a,b)

40.625 22.727272727272727

## Задание 2

In [8]:
df[(df['Age'] < 30) | (df['Age'] > 60)].groupby(["Sex","Survived"])["PassengerId"].count()

Sex     Survived
female  0            42
        1           108
male    0           203
        1            53
Name: PassengerId, dtype: int64

In [9]:
df2 = df[(df['Age'] < 30) | (df['Age'] > 60)].groupby(["Sex"])["Survived"].mean()
df2

Sex
female    0.720000
male      0.207031
Name: Survived, dtype: float64

In [10]:
df2["female"]

0.72

In [11]:
df2["male"]

0.20703125

In [12]:
male_survived = df[df['Sex'] == 'male']['Survived']
female_survived = df[df['Sex'] == 'female']['Survived']
c=100 * (female_survived.mean())
d=100 * male_survived.mean()
print(c,d)

74.20382165605095 18.890814558058924